/* eventCard.css */
/* Event Card Container */

.event-card {
    background: rgba(9, 12, 1, 0.254);
    padding: 20px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(156, 177, 190, 0.12);
    text-align: left;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    transition: transform 0.3s ease;
  }
  
  .event-card:hover {
    transform: scale(1.02);
  }
  
  /* Event Header (User + Date) */
  .event-header-date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  
  /* Event User */
  .event-user {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
    color: #4788e4;
    font-size: 20px;
  }
  
  /* Event Date */
  .event-date {
    margin-top: 10px;
    font-size: 13px;
    color: #ffffff;
  }
  
  /* Event Title */
  .event-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    color: white;
  }
  
  /* Event Image */
  .event-image {
    display: block;
    margin: auto;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Event Description */
  .event-card .event-text {
    margin-top: 15px;
    border: #ffffff;
    font-size: 15px;
    color: #ffffff;
    line-height: 1.5;
    white-space: pre-wrap;
  }
  .preview .event-text {
    display: none;
  }