.display-event-container {
    max-width: 800px;
    margin: 10px auto;
    /* background: rgba(32, 33, 41, 0.648); */
    background: radial-gradient(
      circle at 30% 50%, 
      #2e2e2e 0%, 
      #000000 60%, 
      #2e2e2e 100%
  );
    border-radius: 10px;
    box-shadow: 0 4px 12px #4788e4;
    backdrop-filter: blur(10px);
    opacity: 1;
  }
  .display-event-container .display-event-card {
    background: rgba(12, 22, 27, 0.363);
    padding: 8px;
    margin-top: auto;
    border-radius: 12px;
    text-align: left;
    backdrop-filter: blur(10px);
    opacity: 0.8;
    transition: transform 0.3s ease;
  }
  
  
  .display-event-container h1,
  .display-event-container h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .display-event-container .event-image {
    width: auto;
    height: auto;
    max-height: 500px;
    max-width: 500px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .display-event-container .event-title {
    font-size: 2rem;
    text-align: center;
    color: #ffffff;
    margin-bottom: 15px;
  }
  
  .display-event-container .event-text {
    line-height: 1.6;
    color: #ffffff;
    margin-bottom: 20px;
  }
  