/* eventCard.css */
/* Event Card Container */

.event-card {
    background: white;
    padding: 20px;
    margin-top: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
    text-align: left;
    transition: transform 0.3s ease;
  }
  
  .event-card:hover {
    transform: scale(1.02);
  }
  
  /* Event Header (User + Date) */
  .event-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #000000;
    margin-bottom: 10px;
    
  }
  
  /* Event User */
  .event-user {
    font-weight: bold;
  }
  
  /* Event Date */
  .event-date {
    font-size: 13px;
    color: #000000;
  }
  
  /* Event Title */
  .event-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  /* Event Image */
  .event-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  /* Event Description */
  .event-text {
    margin-top: 12px;
    font-size: 15px;
    color: #000000;
    line-height: 1.5;
    white-space: pre-wrap;
  }
  .preview .event-text {
    display: none;
  }