asgiref==3.8.1
black==25.1.0
click==8.1.8
Django==5.1.4
django-cors-headers==4.7.0
django-extensions==3.2.3
django-taggit==6.1.0
django-taggit-serializer==0.1.7
djangorestframework==3.15.2
joblib==1.4.2
mypy-extensions==1.0.0
nltk==3.9.1
packaging==24.2
pathspec==0.12.1
pillow @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_85xj2lenf1/croot/pillow_1738010251686/work
platformdirs==4.3.6
rake-nltk==1.0.6
regex==2024.11.6
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
wheel==0.44.0
