body {
  font-family: "Gill Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #eef4f9;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: white;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #2b86d6;
}

.nav-buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
}